@import url('https://fonts.googleapis.com/css2?family=Anton&family=Martian+Mono:wght@100..800&family=Quattrocento:wght@400;700&family=Suez+One&display=swap');
/* Variáveis */
:root {
    --primary-color: #2cd5e7;
    --secondary-color: #3CA6A6;
    --text-color: #024959;
    --background-color: #e0cdba;
    --button-hover: #0baff0;
    --font-body: "Chocolate Classical Sans", serif;
    --font-titulo: "Rakkas", serif;
}



/* código omitido */
/* código omitido */

/* Reset */
* {
    margin: 10;
    padding: 10;
    box-sizing: border-box;
    font-family: var(--font-body);
}

/* Corpo da página */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

h3 {
    margin-top: 25px;
}

p {
    margin-top: 20px;
    font-size: 20px;
}

img {
    max-width: 90%;
}
.texto-claro p {
  color: #000000;
}


/* código omitido */